// to be edited all toLowerCase until refactor: 
.Restaurant {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 16.66rem;
    margin: 0 .5rem 2.3rem .5rem;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    background-color: white;
    border-radius: 5px;
    margin-top: 5rem;
    animation-name: stretch;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes stretch {
    0% {
        transform: scale(.3);
    }
    50% {}
    100% {
        transform: scale(1);
    }
}

// use later: 
.Restaurant .image-container {
    object-fit: cover;
    // width: 100%;
    // height: 100%;
    border-radius: 5px;
}

.Restaurant h2 {
    // margin-bottom: .5rem;
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #f0c36c;
    background: #f0c36c;
    color: white;
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
    padding: 1rem 20%;
}

.Restaurant-information {
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
}

.Restaurant-information p {
    margin-top: 10px;
    font-size: .88rem;
    font-weight: 300;
    line-height: 50%;
}

.Restaurant-address {
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.Restaurant-reviews {
    margin-top: 25px;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
}

.Restaurant-reviews h3 {
    margin-top: 10px;
    color: #CCA353;
    font-weight: 600;
}

.Restaurant-reviews .rating {
    font-size: .88rem;
    line-height: 1rem;
}

.Restaurant-number {
    margin-top: 10px;
    font-size: 200px;
}