header {
    text-align: right;
    padding: 10px 10px;
    display: flex;
    position: fixed;
    // justify-content: space-between;
}

.logo {
    // display: flex;
    // margin-top: -1rem;
    // margin-left: 10rem;
    // justify-content: center;
}