h2 {
    margin-top: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SearchBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 25rem;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -3;
    border-radius: 0% 0% 2px 2px;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
}

.SearchBar-sort-options ul {
    display: flex;
    justify-content: center;
    margin-bottom: 2.22rem;
    color: black;
    margin-top: 3rem;
}

.SearchBar-sort-options li {
    cursor: pointer;
    width: 4.33rem;
    line-height: 1.13;
    text-align: center;
    font-weight: 600;
    font-size: .83rem;
    transition: color .25s;
}

.SearchBar-sort-options li:hover {
    color: white;
}

.SearchBar-sort-options li.active,
.SearchBar-sort-options li.active:hover {
    border-bottom: 1px solid #f0c36c;
    color: #f0c36c;
}

.SearchBar-fields {
    display: flex;
    justify-content: center;
    margin-bottom: 2.88rem;
}

.SearchBar-fields input {
    width: 21rem;
    padding: .66rem 1rem;
    margin-right: 2.22rem;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: .77rem;
    font-weight: 500;
}

.SearchBar-fields input:last-child {
    margin-right: 0;
}

.SearchBar-submit {
    text-align: center;
}

.SearchBar-submit a {
    border-radius: 4px;
    padding: .72rem 1.7rem;
    background-color: #fbcf78;
    color: #ffffff;
    font-weight: 600;
    transition: background-color .5s;
    opacity: .7;
}

.SearchBar-submit a:hover {
    cursor: pointer;
    background-color: #a7874b;
}

@media only screen and (max-width: 560px) {
    .SearchBar {
        // background-image: url('/img/pexels-photo-2235832.jpeg');
    }
    .SearchBar-sort-options ul {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .SearchBar-fields {
        flex-direction: column;
        align-items: center;
    }
    .SearchBar-fields input {
        margin-right: 0;
        margin-bottom: .86rem;
    }
}

.logo1 {
    display: flex;
    position: relative;
    align-items: center;
    margin-top: 10rem;
}